
  <div class="modal-body container p-1 px-5" id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
    <div class="row">
      <h4 class="col-12 p-2 text-center">New Photo</h4>
      <h6 class="col-12 p-1">Click on upload to add images</h6>
    </div>
    <form class="row col-12 container form-group">
      <div class="form_line col-12 row">
        <label path="title" class="col-4">Title:</label>
        <div class="form_controls col-6">
          <input type="text" class="form-control" #title placeholder="Title" (keyup.enter)="updateTitle(title.value)" (blur)="updateTitle(title.value)"
          />
        </div>
      </div>
      <div class="form_line row col-12 mt-4">
        <label class="col-4">Image:</label>
        <div class="form_controls col-6">
          <div class="upload_button_holder">
            <label class="btn btn-primary" for="fileupload">Upload</label>
            <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
            <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''"
              multiple />
          </div>

        </div>
      </div>
    </form>
    <h5>Status</h5>
    <div class="file" *ngFor="let response of responses; let i = index">
      <h3>{{response.file.name}}</h3>
      <div class="progress-bar">
        <ngb-progressbar type="success" [value]="response.progress"></ngb-progressbar>
        <!-- <div class="progress" role="progressbar" [style.width.%]="response.progress"></div> -->
      </div>
      <div class="form_line mt-5">
        <div class="form_controls">
          <div class="preview">
            <button class="delete-image btn btn-danger" *ngIf="!!response.data.delete_token" (click)="deleteImage(response.data, i)">Delete image</button>
            <img [src]="response.data.url" class="rounded col-6 m-auto" alt="">
            <!-- Consider using https://github.com/valor-software/ng2-file-upload/issues/461 for image preview -->
          </div>
        </div>
      </div>
    </div>

  </div>

  <a routerLink="" class="back_link">Back to list</a>
  <div class="modal-footer">
    <button [disabled]="!responses.length" class="btn btn-success" (click)="submitForDB()">Submit</button>
  </div>
