<aside>
    <nav>
        <ul class="list-unstyled pl-2 py-2 pr-0 d-flex flex-column justify-content-around align-items-end">
            <li> <fa-icon [icon]="faTachometerAlt"></fa-icon> Dashboard</li>
            <li> <fa-icon [icon]="faUserTie"></fa-icon> Management</li>
            <li> <fa-icon [icon]="faUtensils"></fa-icon> Restaurant</li>
            <li> <fa-icon [icon]="faBed"></fa-icon> Rooms & Bookings</li>
            <li> <fa-icon [icon]="faHandHoldingUsd"></fa-icon> Accounting</li>
            <li> <fa-icon [icon]="faEnvelope"></fa-icon> Messages</li>
            <li> <fa-icon [icon]="faCogs"></fa-icon> Settings</li>
            <li> <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</li>
        </ul>
    </nav>
</aside>