<aside class="position-fixed">
    <nav>
        <ul class="list-unstyled pl-2 py-2 pr-0 d-flex flex-column justify-content-around align-items-end">
            <li *ngFor="let item of navList">
                <a [routerLink]="[ './'+item.link ]" routerLinkActive="active"><fa-icon [icon]="item.icon || ''"></fa-icon> {{item.name}}</a>
            </li>
            <!-- <li> <a [routerLink]="[ './management' ]" routerLinkActive="active"><fa-icon [icon]="faUserTie"></fa-icon> Management</a></li>
            <li> <a [routerLink]="[ './restaurant' ]" routerLinkActive="active"><fa-icon [icon]="faUtensils"></fa-icon> Restaurant</a></li>
            <li> <a [routerLink]="[ './bookings' ]" routerLinkActive="active"><fa-icon [icon]="faBed"></fa-icon> Rooms & Bookings</a></li>
            <li> <a [routerLink]="[ './accounting' ]" routerLinkActive="active"><fa-icon [icon]="faHandHoldingUsd"></fa-icon> Accounting</a></li>
            <li> <a [routerLink]="[ './reports' ]" routerLinkActive="active"><fa-icon [icon]="faHandHoldingUsd"></fa-icon> Reports</a></li>
            <li> <a [routerLink]="[ './settings' ]" routerLinkActive="active"><fa-icon [icon]="faCogs"></fa-icon> Settings</a></li>
            <li> <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</li> -->
        </ul>
    </nav>
</aside>
