header {
	box-shadow: 0px 5px 5px #ccc;
	min-height: 50px;

	.logo {
		width: 235px;
        height: 60px;
        padding: auto;
        background-color: #ccc;
	}
}

.nav-section {
    min-width: 80vw;
     nav {
         width: 20%;
     }
}


.form-control {
    border-radius: 20px;
}