<table class="table table-striped table-inverse">
    <thead class="thead-inverse">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Room Type</th>
            <th>Amount Paid</th>
            <th>Checked in By</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
</table>
