<section class="col-lg-10 col-md-12 mx-auto p-5 my-3 rounded rounded-lg w-auto shadow border border-warning bg-light">
  <ngb-alert *ngIf="message" [dismissible]="true" (close)="close()" [type]="alertType">
    {{message}}
  </ngb-alert>
  <form class="w-100 mx-auto" [formGroup]="login">
    <div class="form-group">
      <label for="username">Email or Phone Number</label>
      <input
      type="text"
      formControlName="username"
      [ngClass]="{'is-invalid': f.username.touched && f.username.invalid}"
      id="username" class="form-control" placeholder="Email or Phone Number" aria-describedby="user">
      <small id="user" class="text-muted d-none text-danger" [ngClass]="{'d-block': f.username.touched && f.username.invalid}">Login with your username or email</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
      type="password"
      class="form-control"
      [ngClass]="{'is-invalid': f.password.touched && f.password.invalid}"
      formControlName="password"
      id="password" placeholder="Password">
    </div>
    <button
    type="submit"
    [disabled]="!login.valid"
    (click)="loginUser()"
    class="btn btn-primary">Submit</button>
  </form>
</section>
