<section class="login-section m-auto rounded shadow p-5">
  <form class="d-flex flex-column">
    <h2>Login Here</h2>
    <div class="form-group">
      <label for="email">Username/Email</label>
      <input type="text" class="form-control" name="email" id="email" aria-describedby="emailLogin" placeholder="Email">
      <small id="emailLogin" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordLogin"
        placeholder="Password">
      <small id="passwordLogin" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="remember" id="remember" value="remember" checked>
        Remember Me
      </label>
    </div>
    <button type="button" name="" id="" class="btn btn-primary">Login</button>
    <p class="form-text text-muted">
      <span>Forgot Password</span>
      <span>Register</span>
    </p>
  </form>
</section>
