<ngx-spinner></ngx-spinner>

<ng-container *ngIf="productHere;else noProduct">
  <div class="modal-header">
    <h4 class="modal-title">Detail for {{product.productName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              Product Name:
            </div>
            <div class="col-sm-6">
              {{product.productName}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Manufacturer:
            </div>
            <div class="col-sm-6">
              {{product.manufacturer}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Type:
            </div>
            <div class="col-sm-6">
              {{product.productType}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Department:
            </div>
            <div class="col-sm-6">
              {{product.productDept}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Pool Bar Price:
            </div>
            <div class="col-sm-6">
              {{product.poolBarPrice | currency: 'NGN' : 'symbol-narrow'}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Main Bar Price:
            </div>
            <div class="col-sm-6">
              {{product.mainBarPrice | currency: 'NGN' : 'symbol-narrow'}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Best Before:
            </div>
            <div class="col-sm-6">
                {{product.expiryDate | date}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Quantity:
            </div>
            <div class="col-sm-6">
                {{product.quantity | number}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" name="" id="" class="btn btn-outline-success btn-sm">Edit</button> -->
    <button type="button" name="" id="" class="btn btn-outline-secondary btn-sm" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-container>

<ng-template #noProduct>
  <div class="modal-header">
    <h4 class="modal-title">Add New Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <ngb-alert *ngIf="message" [dismissible]="true" (close)="close()" [type]="alertType">
          {{message}}
        </ngb-alert>
      </div>
      <form [formGroup]="content">
        <div class="form-group row">
          <label for="productName" class="col-sm-5 col-form-label">Product Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="name"
              [ngClass]="{'is-invalid': f.name.touched && f.name.invalid}" id="productName"
              placeholder="Product Name" aria-describedby="nameReq">
            <small id="nameReq" class="form-text d-none text-muted"
              [ngClass]="{'d-block': f.name.touched && f.name.invalid}">Please provide a product
              name</small>

          </div>
        </div>
        <div class="form-group row">
          <label for="productType" class="col-sm-5 col-form-label">Product Type</label>
          <div class="col-sm-6">
            <select class="form-control" [ngClass]="{'is-invalid': f.productType.touched && f.productType.invalid}"
              formControlName="productType" id="productType">
              <option value="Perishable">Perishable</option>
              <option value="Non-Perishable">Non-Perishable</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="productCategory" class="col-sm-5 col-form-label">Product Department</label>
          <div class="col-sm-6">
            <select class="form-control" formControlName="productDept" id="productCategory">
              <option>Restuarant</option>
              <option>Bar</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="mainBarPrice" class="col-sm-5">Main Bar Price</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" formControlName="mainBarPrice" id="mainBarPrice"
              placeholder="Price" aria-describedby="image">
          </div>
        </div>
        <div class="form-group row">
          <label for="poolBarPrice" class="col-sm-5">Pool Bar Price</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" formControlName="poolBarPrice" id="poolBarPrice"
              placeholder="Price" aria-describedby="image">
          </div>
        </div>
        <div class="form-group row">
          <label for="manufacturer" class="col-sm-5">Manufacturer</label>
          <div class="col-sm-6">
            <input type="text" formControlName="manufacturer" id="manufacturer" class="form-control"
              [ngClass]="{'is-invalid': f.manufacturer.touched && f.manufacturer.invalid}"
              placeholder="Product Manufacturer" aria-describedby="helpId">
            <small id="helpId" class="text-muted d-none"
              [ngClass]="{'d-block': f.manufacturer.touched && f.manufacturer.invalid}">Please provide name of
              Manufacturer</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-5">Dates:</label>
          <!-- <div class="input-group col-sm-5">
            <input type="text" formControlName="manufacturedDate" class="form-control" ngbDatepicker
              #manufact="ngbDatepicker" placeholder="Manufatured: dd/mm/yyyy">
            <div class="input-group-append">
              <button class="btn btn-outline-success calendar" (click)="manufact.toggle()" type="button"></button>
            </div>
          </div> -->
          <div class="input-group col-sm-5">
            <input type="text" formControlName="expiryDate" class="form-control" ngbDatepicker #expired="ngbDatepicker"
              placeholder="Expiry Date: dd/mm/yyyy">
            <div class="input-group-append">
              <button class="btn btn-outline-success calendar" (click)="expired.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="quantity" class="col-sm-5">Quantity</label>
          <div class="col-sm-6">
            <input type="number" formControlName="quantity" id="quantity"
              [ngClass]="{'is-invalid': f.quantity.touched && f.quantity.invalid}" class="form-control"
              placeholder="Quantity in Units">
            <small class="text-muted d-none" [ngClass]="{'d-block': f.quantity.touched && f.quantity.invalid}">Please
              provide quantity of product</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-8">
            <button type="submit" class="btn btn-primary" [disabled]="!content.valid"
              (click)="submitForm()">Action</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
