<article class="p-4 bg-white container">
  <section>
    <app-request-table></app-request-table>
  </section>
  <section class="col-12 shadow-sm rounded p-4 row bg-white my-5">
    <h3 class="col-12 text-center mb-1 bg-white">Add and Edit Products</h3>
    <app-sortable [purpose]="'product'"></app-sortable>
  </section>
  <section class="w-100 shadow-sm rounded p-4 row my-5 bg-WHITE">
    <h3 class="col-12 text-center">Add and Edit Inventory of the Hotel</h3>
    <app-sortable [purpose]="'inventory'"></app-sortable>
  </section>
</article>
