<div class="modal-header">
  See Me
</div>
<div class="modal-content p-4" [formGroup ]="roomLogForm">
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" (change)="sendType()" type="radio" formControlName="checkedInStatus" value="reserved"> Reservation
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" (change)="sendType()" type="radio" formControlName="checkedInStatus" value="occupied"> Check In
    </label>
  </div>
  <div class="w-100">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" (change)="setDiscount()" formControlName="discount" id="discount" value="true">
        Discount Provided
      </label>
    </div>
  </div>

  <div class="form-group" *ngIf="f.discount.value === true">
    <label for="amountPaid">Set Amount Approved</label>
    <input type="text" class="form-control" (change)="sendDiscount()" formControlName="amountPaid" id="amountPaid" placeholder="Amount To Pay">
  </div>
  <div class="form-group col-3 mx-auto my-4">
    <label for="numberOfPersons">Number of Persons</label>
    <input type="number" formControlName="numberOfPersons" id="numberOfPersons" class="form-control"
      [ngClass]="{'is-invalid': f.numberOfPersons.touched && f.numberOfPersons.invalid}" placeholder="Number of Person"
      aria-describedby="typeHelp">
  </div>

  <div class="form-group col-3 mx-auto my-4">
    <label for="purposeOfVisit">Purpose of Visit</label>
    <input type="text" formControlName="purposeOfVisit" id="purposeOfVisit" class="form-control"
      [ngClass]="{'is-invalid': f.purposeOfVisit.touched && f.purposeOfVisit.invalid}" placeholder="Purpose of visit"
      aria-describedby="typeHelp">
  </div>

  <div class="form-group col-5 mx-auto my-4">
    <label for="paymentMethod">Payment Method</label>
    <select class="form-control" formControlName="paymentMethod">
      <option value="ATM Card">ATM Card</option>
      <!-- <option *ngIf="f.representation.value === 'Company'" value="Company">Company</option> -->
      <option value="Cash">Cash</option>
    </select>
  </div>
  <app-rooms-table [purpose]="'product'" [needed]="true" (tapRoom)="selectRoom($event)"></app-rooms-table>
</div>
