<div class="modal-header">
  Room Details
</div>
<ng-container *ngIf="!position;else nextContent">
  <div class="row col-10 my-4 mx-auto modal-content p-4" [formGroup]="roomLogForm">
    <div class="row col-8 text-center">
      <div class="form-check mx-auto form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" (change)="sendType()" type="radio" formControlName="checkedInStatus" value="reserved"> Reservation
        </label>
      </div>
      <div class="form-check mx-auto form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" (change)="sendType()" type="radio" formControlName="checkedInStatus" value="occupied"> Check In
        </label>
      </div>
    </div>
    <hr class="w-75 mx-auto-my-5">
    <div class="col-12 row">
      <div class="form-group col-5 mx-auto my-4">
        <label for="arrivalDate">Arrival Date</label>
        <div class="input-group">
          <input type="text" formControlName="arrivalDate" class="form-control" ngbDatepicker #arrival="ngbDatepicker"
            placeholder="Arrival Date: dd/mm/yyyy">
          <div class="input-group-append">
            <button class="btn btn-outline-success calendar" (click)="arrival.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group col-5 mx-auto my-4">
        <label for="departureDate">Departure Date</label>
        <div class="input-group">
          <input type="text" formControlName="departureDate" class="form-control" ngbDatepicker #departure="ngbDatepicker"
            placeholder="Departure Date: dd/mm/yyyy">
          <div class="input-group-append">
            <button class="btn btn-outline-success calendar" (click)="departure.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 my-4">
      <div class="form-check my-auto w-100 text-center">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (change)="setDiscount()" formControlName="discount" id="discount" value="true">
          Discount Provided
        </label>
      </div>
    </div>

    <div class="col-12 row">
      <div class="form-group col-12" *ngIf="f.discount.value === true">
        <label for="amountPaid">Set Amount Approved</label>
        <input type="text" class="form-control" (change)="sendDiscount()" formControlName="amountPaid" id="amountPaid" placeholder="Amount To Pay">
      </div>
      <div class="col-12 row">
        <div class="form-group col-3 mx-auto my-4">
          <label for="numberOfPersons">Number of Persons</label>
          <input type="number" formControlName="numberOfPersons" id="numberOfPersons" class="form-control"
            [ngClass]="{'is-invalid': f.numberOfPersons.touched && f.numberOfPersons.invalid}" placeholder="Number of Person"
            aria-describedby="typeHelp">
        </div>

        <div class="form-group col-3 mx-auto my-4">
          <label for="purposeOfVisit">Purpose of Visit</label>
          <input type="text" formControlName="purposeOfVisit" id="purposeOfVisit" class="form-control"
            [ngClass]="{'is-invalid': f.purposeOfVisit.touched && f.purposeOfVisit.invalid}" placeholder="Purpose of visit"
            aria-describedby="typeHelp">
        </div>
      </div>

      <div class="form-group col-5 mx-auto my-4">
        <label for="paymentMethod">Payment Method</label>
        <select class="form-control" formControlName="paymentMethod">
          <option value="ATM Card">ATM Card</option>
          <!-- <option *ngIf="f.representation.value === 'Company'" value="Company">Company</option> -->
          <option value="Cash">Cash</option>
        </select>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #nextContent>
  <div class="modal-body">
    <app-rooms-table [purpose]="'product'" [needed]="true" (tapRoom)="selectRoom($event)"></app-rooms-table>
  </div>
</ng-template>
<div class="modal-footer text-right">
  <ng-container *ngIf="position">
    <button class="btn btn-secondary my-2" (click)="goBack()">Back</button>
  </ng-container>
  <button class="btn btn-success my-3" (click)="goNext()">Next</button>
</div>
