<section class="col-12 p-5 my-3 rounded rounded-lg w-auto shadow">
  <ngb-alert *ngIf="message" [dismissible]="true" (close)="close()" [type]="alertType">
    {{message}}
  </ngb-alert>
  <form class="w-100 mx-auto" [formGroup]="register" (submit)="registerUser()">
    <div class="form-group">
      <label for="fullName">Full Name *</label>
      <input type="text"
      [ngClass]="{'is-invalid': f.fullName.touched && f.fullName.invalid}"
      formControlName="fullName" id="fullName" class="form-control"
      placeholder="Full Name" aria-describedby="nameCheck">
      <small id="nameCheck" class="text-muted d-none text-danger" [ngClass]="{'d-block': f.fullName.touched && f.fullName.invalid}">A Full Name must be provided</small>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
      type="text"
      formControlName="username"
      [ngClass]="{'is-invalid': f.username.touched && f.username.invalid}"
      id="username" class="form-control" placeholder="Username" aria-describedby="user">
      <small id="user" class="text-muted d-none text-danger" [ngClass]="{'d-block': f.username.touched && f.username.invalid}">Login with your username or email</small>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number *</label>
      <input type="text"
      formControlName="phoneNumber"
      [ngClass]="{'is-invalid': f.phoneNumber.touched && f.phoneNumber.invalid}"
      id="phoneNumber" class="form-control" placeholder="Phone Number" aria-describedby="phone">
      <small id="phone" class="text-muted text-danger d-none" [ngClass]="{'d-block': f.phoneNumber.touched && f.phoneNumber.invalid}">Provide your Phone Number</small>
    </div>
    <div class="form-group">
      <label for="email">Email Address *</label>
      <input type="email"
      class="form-control" formControlName="email"
      [ngClass]="{'is-invalid': f.email.touched && f.email.invalid}"
      id="email" aria-describedby="emailHelpId" placeholder="Email Address">
      <small id="emailHelpId" class="form-text text-muted d-none text-danger" [ngClass]="{'d-block': f.email.touched && f.email.invalid}">Provide your Email Address</small>
    </div>
    <div class="form-group">
      <label for="password">Password *</label>
      <input
      type="password"
      class="form-control"
      [ngClass]="{'is-invalid': f.password.touched && f.password.invalid}"
      formControlName="password"
      id="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="password2">Confrim Password *</label>
      <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm Password">
    </div>
    <button
    type="submit"
    [disabled]="!register.valid"
    (click)="registerUser()"
    class="btn btn-primary">Submit</button>
  </form>
</section>
