<app-header></app-header>
<main class="d-flex flex-column justify-content-between align-items-start p-4">
  <section class="mb-2 w-100">
    <nav class="nav nav-tabs justify-content-left">
      <a [routerLink]="['./roomslist']" routerLinkActive="active" class="nav-link">Reservation</a>
      <a [routerLink]="['./otherservice']" routerLinkActive="active" class="nav-link">Room Services</a>
      <a [routerLink]="['./checkout']" routerLinkActive="active" class="nav-link">Check Out</a>
    </nav>
  </section>

  <section class="d-flex flex-row w-100 justify-content-between">
    <app-side-user [purpose]="'roomservice'"></app-side-user>
    <router-outlet></router-outlet>
  </section>
</main>
