<article class="shadow rounded-lg p-3 mt-2 mx-5 d-flex flex-column justify-content-start align-items-center">
  <section class="w-100 shadow-sm rounded p-4 bg-white my-5">
    <h3 class="col-12 text-center mb-1 bg-white">Add and Edit Products</h3>
    <app-sortable [purpose]="'product'"></app-sortable>
  </section>
  <section class="w-100 shadow-sm rounded p-4 my-5 bg-white">
    <h3 class="col-12 text-center">Add and Edit Inventory of the Hotel</h3>
    <app-inventory-sort [purpose]="'inventory'"></app-inventory-sort>
  </section>
</article>
