<article>
  <section class="p-4 d-flex flex-row justify-content-around">
    <div class="shadow">Top Sold Category</div>
    <div class="shadow">Top Sold Product</div>
    <div class="shadow">Top Services</div>
  </section>
  <section class="p-3">
    <h5>Services and Products</h5>
    <div id="restaurant">
      <!-- See, Edit and Add -->
    </div>
    <div id="products">
      <!-- See, Edit and Add -->
    </div>
  </section>
  <section>
    <div id="hotelServices">
      <!-- See, Edit and Add -->
    </div>
  </section>
</article>
