<main class="row p-2 col-lg-6 col-md-8 col-sm-12 mx-auto my-5 shadow-sm rounded">
  <section class="top-side col-10 offset-1 row">
      <a class="col-5 text-center m-auto" [routerLink]="[ './login' ]" routerLinkActive="active"> Login </a>
      <a class="col-5 text-center m-auto" [routerLink]="[ './register' ]" routerLinkActive="active">Register</a>
  </section>
  <article class="col-10 offset-1 mt-5">
    <router-outlet></router-outlet>
    <div>Copy right of All Hands</div>
  </article>
  <ngx-spinner name="N"></ngx-spinner>
</main>
