<main class="row p-2 col-lg-6 col-md-8 col-sm-12 mx-auto my-5 shadow-sm rounded bg-white">
  <section class="top-side col-10 offset-1 p-3 row d-flex flex-column justify-content-around align-items-center">
    <img src="/assets/logo-sm.png" width="140px">
  </section>
  <ngx-spinner name="N"></ngx-spinner>
    <article class="col-lg-10 col-md-12 mx-auto mt-5">
      <router-outlet></router-outlet>
    </article>
  </main>
  <div class="footer w-100 p-2 text-center border-warning">&copy; 2019 Copy right of All Hands Concept 08020805827</div>
