<article class="row p-2 col-lg-6 col-md-8 col-sm-12 mx-auto my-5 shadow-sm rounded">
  <section class="top-side col-10 offset-1 row">
    <div class="col-5 text-center">
      <a [routerLink]="[ './login' ]" routerLinkActive="active"> Login </a>
    </div>
    <div class="col-5 text-center">
      <a [routerLink]="[ './register' ]" routerLinkActive="active">Register</a>
    </div>
  </section>
  <section class="col-10 offset-1 mt-5">
    <router-outlet></router-outlet>
    <div>Copy right of All Hands</div>
  </section>
  <ngx-spinner name="N"></ngx-spinner>
</article>
