<article class="shadow rounded-lg p-3 d-flex flex-column justify-content-start align-items-center">
  <h5 class="text-uppercase">Other Services</h5>
  <section class="shadow-sm w-100 p-3 container">
    <div class="row p-4">
      <figure class="figure rounded col-5 shadow-sm p-3 m-auto offset-5">
        <img src="" class="figure-img img-fluid rounded" alt="">
        <figcaption class="figure-caption text-xs-right">The ID Card</figcaption>
      </figure>
      <div class="col-12 p-3 shadow-sm my-5">
        <div class="form-group">
          <label for="meal">Meal To Serve</label>
          <select class="form-control" name="meal" id="meal">
            <option>None</option>
            <option>Breakfast</option>
            <option>Breakfast and Dinner</option>
            <option>All Meal</option>
          </select>
        </div>
      </div>
    </div>
  </section>
</article>
