<article class="p-3 d-flex flex-column justify-content-around align-items-center">
    <section class="d-flex flex-row justify-content-around align-items-center">
        <app-top-highlight *ngFor="let item of highLights" [item]="item"></app-top-highlight>
    </section>
    <section class="shadow shadow-lg p-4">
      <app-rooms-table></app-rooms-table>
    </section>
    <section class="p-4 d-flex flex-row justify-content-around align-item-center">
        <div class="table-side">
            <h4>Restuarant</h4>
            <table class="table table-bordered table-hover table-inverse">
                <thead class="thead-inverse">
                    <tr>
                        <th>No</th>
                        <th>Item Purchased</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="table-side">
            <h4>Expenses</h4>
            <table class="table table-bordered table-hover table-inverse">
                <thead class="thead-inverse">
                    <tr>
                        <th>No</th>
                        <th>Item Purchased</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </section>
    <section class="p-4 d-flex flex-row justify-content-around align-item-center">
        <div>
            <h4>Unread Messages</h4>
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>From</th>
                        <th>Subject</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div>
            <h4>Customer Feedbacks</h4>
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>From</th>
                        <th>Subject</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div>
            <h4>Unread Notifications</h4>
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>From</th>
                        <th>Subject</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </section>
</article>
