<ngx-spinner></ngx-spinner>
<article class="m-4 row bg-white p-4">
  <section class="mt-2 mb-5 shadow col-12 p-4 rounded-lg">
    <h4 class="col-12 text-center">Sale Made <small>For the day</small></h4>
    <app-meal-list [purpose]="'sales'"></app-meal-list>
  </section>
  <section class="row my-5 p-4 shadow col-12 mx-auto rounded-lg">
    <h4 class="col-12 text-center">Create and Manage Restaurant Menu</h4>
    <div class="container">
      <ngb-alert *ngIf="message" [dismissible]="true" class="col-12" (close)="close()" [type]="alertType">
        {{message}}
      </ngb-alert>
      <form [formGroup]="mealForm" class="row m-auto align-items-center justify-content-around">
        <div class="form-group col-3">
          <label for="mealName">Meal Name</label>
          <input type="text" formControlName="mealName" id="mealName" class="form-control"
            [ngClass]="{'is-invalid': f.mealName.touched && f.mealName.invalid}" placeholder="Meal Name"
            aria-describedby="mealHelp">
          <small id="mealHelp" class="text-muted">Provide the Name of the meal</small>
        </div>
        <div class="form-group col-5">
          <label for="mealDescription">Description</label>
          <textarea formControlName="mealDescription" id="mealDescription" class="form-control" cols="10"
            rows="5"></textarea>
        </div>
        <div class="form-group col-3">
          <label for="mealPrice">Meal Price</label>
          <input type="text" formControlName="mealPrice" id="mealPrice" class="form-control"
            [ngClass]="{'is-invalid': f.mealPrice.touched && f.mealPrice.invalid}" placeholder="Meal Price"
            aria-describedby="priceHelp">
          <small id="priceHelp" class="text-muted">Please provide meal price</small>
        </div>
        <div class="form-group col-12 text-center my-5">
          <button type="submit" class="btn btn-success" [disabled]="!mealForm.valid"
            (click)="createMeal()">Submit</button>
        </div>
      </form>
    </div>
  </section>
  <section class="mt-2 mb-5 shadow col-12 p-4 rounded-lg">
    <h4 class="col-12 text-center">List of Meals</h4>
    <app-meal-list [purpose]="'inventory'" [sett]="sett"></app-meal-list>
  </section>
</article>
