<aside class="shadow rounded p-3 d-flex flex-column justify-content-around align-items-center overflow-auto">
  <h5 class="text-uppercase">Payment Details</h5>
  <ng-container *ngIf="purpose === 'roomservice'; else pointofsale">
    <div class="h-75 my-2 shadow-sm w-100 p-3 container">
      <form>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Full Name</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{data.name}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Address</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{data.address}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Phone</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{data.phone}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Email</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{data.email}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Room Booked</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{room.roomNumber}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Other Services</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{data.otherservice}}</span>
          </div>
        </div>
        <div class="form-group row mt-5">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Action</button>
          </div>
        </div>
      </form>
    </div>
    <div class="w-100 mx-2 shadow-sm">
      <p>Payable amount or deposit</p>
    </div>
    <div class="w-100 mt-2 shadow-sm">
      <p> Current Total: {{ room.price | currency: 'NGN' : 'symbol-narrow' }}</p>
    </div>
  </ng-container>
  <ng-template #pointofsale>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>&#8358;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of product; let i = index">
          <td>{{item.productName}}</td>
          <td><input type="number" size="4" [(ngModel)]="product[i]" value="1" #ctrl="ngModel"></td>
          <td>{{item.productPrice * ctrl.value}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</aside>
