<aside
  class="shadow rounded p-3 d-flex flex-column justify-content-around align-items-center overflow-auto bg-white border border-warning"
  [ngClass]="{'position-fixed': purpose === 'roomservice'}">
  <h5 class="text-uppercase">Payment Details</h5>
  <ng-container *ngIf="purpose === 'roomservice'; else pointofsale">
    <div class="h-75 my-2 shadow-sm w-100 p-3 container">
      <form>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Full Name</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{data?.name}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Address</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{data?.address}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Phone</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{data?.phone}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Email</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{data?.email}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Room Booked</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{room?.roomNumber}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Reservation</span>
          <div class="col-sm-5">
            <span
              class="small font-weight-bold">{{(reserve && reserve?.reservation === 'reserved')? 'Reservation' : 'Lodging'}}</span>
          </div>
        </div>
        <div class="row mb-3">
          <span class="col-sm-6 small border-right">Other Services</span>
          <div class="col-sm-5">
            <span class="small font-weight-bold">{{data?.otherservice}}</span>
          </div>
        </div>
        <div class="form-group row mt-5">
          <div class="offset-sm-2 col-sm-10" *ngIf="reserve !== null && reserve.reservation === 'reserved'">
            <select [(ngModel)]="payfull" #pay="ngModel" [ngModelOptions]="{standalone: true}" (change)="working()">
              <option value="fullpayment">Full Payment</option>
              <option value="reservation">Reservation Payment</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="w-100 mx-2 shadow-sm p-2">
      <p>Payable amount or deposit</p>
      {{(reserve && reserve?.reservation === 'reserved' && payfull && payfull === "reservation") ? (5000 | currency: 'NGN' : 'symbol-narrow') : room.price | currency: 'NGN' : 'symbol-narrow'}}
    </div>
    <div class="w-100 mt-2 shadow-sm p-2">
      <p> Current Total:</p>
      {{ (reserve && reserve?.reservation === 'reserved' && payfull && payfull === "reservation") ? (5000 | currency: 'NGN' : 'symbol-narrow') :  (room.price | currency: 'NGN' : 'symbol-narrow')}}
    </div>
  </ng-container>
  <ng-template #pointofsale>
    <ngb-alert *ngIf="message" [dismissible]="true" (close)="close()" [type]="alertType">
      {{message}}
    </ngb-alert>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>&#8358;</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="setRestuarant; else barTemplate">
          <tr *ngFor="let item of product?.sale; let i = index;">
            <td>{{item?.product.mealName}}</td>
            <td>{{item?.quantity}}</td>
            <td>{{item?.product.mealPrice * item?.quantity }}</td>
          </tr>
        </ng-container>
        <ng-template #barTemplate>
        <tr *ngFor="let item of product; let i = index;">
          <td>{{item?.product.name}}</td>
          <td>{{item?.quantity}}</td>
          <td>{{(product?.bar === 'MainBar') ? item?.product.mainBarPrice * item?.quantity : item?.product.poolBarPrice * item?.quantity}}</td>
        </tr>
        </ng-template>
      </tbody>
      <tfoot>
        <tr>
          <td>Total:</td>
          <td [innerText]="sumQuantity || ''"></td>
          <td [innerText]="sumPrice || ''"></td>
        </tr>
      </tfoot>
    </table>
    <div class="container w-100">
      <div class="form-group">
        <label for="paymentMethod">Method of Payment</label>
        <select class="form-control" [(ngModel)]="paymentMethod" #payMent="ngModel" id="paymentMethod"
          (ngModelChange)="checkUser()">
          <option>Cash</option>
          <option>Card</option>
          <option>Bill</option>
          <option>Complimentry</option>
        </select>
      </div>
    </div>
    <div [ngSwitch]="payMent.value">
      <ng-container *ngSwitchCase="'Bill'">
        {{'Guest Name: ' + guestName }}
        <div class="form-inline form-group">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="roomNumber" (ngModelChange)="checkRoom(roomNum.value)" #roomNum="ngModel"
            aria-describedby="helpId" placeholder="Room Number">
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'Complimentry'">
        <div class="form-group">
          <label for="compli">Compli</label>
          <select class="form-control" [(ngModel)]="compli" id="compli">
            <option>Room Service</option>
            <option *ngFor="let item of userAdmin" [value]="item._id">{{item.fullName}}</option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>

      </ng-container>
    </div>
    <div class="btn-group w-100 justify-content-around">
      <button class="btn btn-success" (click)="makePurchase()">Sale</button>
      <button class="btn btn-danger" (click)="clear()">Clear</button>
    </div>

  </ng-template>
  <ngx-spinner name="sales"></ngx-spinner>

</aside>
