<section class="sidebar border">
    <nav class="h-100 ml-4 mt-4 d-flex flex-column align-items-end">
        <ul class="list-unstyled w-100 d-flex flex-column mr-0 justify-content-around align-items-end">
            <li>
                <fa-icon [icon]="faDoorOpen"></fa-icon>Dashboard
            </li>
            <li>
                <fa-icon [icon]="faCheckSquare"></fa-icon>Check Ins
            </li>
            <li>
                <fa-icon [icon]="faEnvelope"></fa-icon>Message
            </li>
            <li>
                <fa-icon [icon]="faUser"></fa-icon>Settings
            </li>
            <li>
                <fa-icon [icon]="faSignOutAlt"></fa-icon>Log Out
            </li>
        </ul>
    </nav>
</section>