<aside class="rounded p-3 mt-3">
  <figure class="figure">
    <img src="product" class="figure-img img-fluid rounded" alt="Product Detail">
    <figcaption class="figure-caption text-xs-right">Product Name and Price</figcaption>
  </figure>
  <section>
    <h3>Purchased Product</h3>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Product Name</th>
          <th>Product Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>Total</td>
          <td>Price</td>
        </tr>
      </tfoot>
    </table>
  </section>
</aside>
