article{
  width: 67vw;
  min-height: 100vh;
}

.backdrop {
  background-color: #000 !important;
  // opacity: 0.5;
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  left: 0;
  z-index: 10000000;
}
