<article class="shadow rounded-lg p-3 d-flex flex-column justify-content-start align-items-center">
  <h3 class="h3">Guest Section</h3>
  <section class="py-3 my-2">
    <div class="form-group">
      <label for="guestDetail">Search For Guest</label>
      <div class="form-inline">
        <input type="text" class="form-control" name="guestDetail" id="guestDetail" aria-describedby="helpId" placeholder="Phone Number or Email">
        <button class="btn btn-primary btn-sm mx-3">Search</button>
      </div>
      <small id="helpId" class="form-text text-muted">Search with Phone Number or Email</small>
    </div>
  </section>
  <hr class="w-100">
  <section>

  </section>
</article>
