<div class="row my-3">
  <!-- <div class="col-xl-3">
    <div class="card text-left">
      <img class="card-img-top" src="" alt="">
      <div class="card-body">
        <h4 class="card-title">Product Name almost finish/damage</h4>
        <p class="card-text">Descript, Category, Department and Price</p>
      </div>
    </div>
  </div> -->
  <div class="col-sm-12 card">
      <form class="p-3">
          <div class="form-group form-inline">
              Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
              <span class="ml-3" *ngIf="service.loading$ | async">Loading List of Products...</span>
          </div>

          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
              <th scope="col" sortable="manufacturer" (sort)="onSort($event)">Manufactured By</th>
              <th scope="col" sortable="quantity" (sort)="onSort($event)">Quantity</th>
              <th scope="col" sortable="productPrice" (sort)="onSort($event)">Pool Bar Price</th>
              <th scope="col" sortable="productPrice" (sort)="onSort($event)">Main Bar Price</th>
              <!-- <th scope="col">Actions</th> -->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products | async; let i = index;">
              <th scope="row">{{i.valueOf() + 1}} &nbsp; <button class="btn btn-sm btn-success" (click)="edit(editProduct, product)">Edit</button></th>
              <td>
                <ngb-highlight [result]="product.name" [term]="service.searchTerm"></ngb-highlight>
              </td>
              <td><ngb-highlight [result]="product.manufacturer | uppercase" [term]="service.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="product.quantity | number" [term]="service.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="product.poolBarPrice | currency: 'NGN' : 'symbol-narrow'" [term]="service.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="product.mainBarPrice | currency: 'NGN' : 'symbol-narrow'" [term]="service.searchTerm"></ngb-highlight></td>
              <!-- <td>
                <button type="button" class="btn btn-sm btn-outline-primary mx-2">Supplies</button>
                <button type="button" class="btn btn-sm btn-outline-success mx-2" (click)="justOpen(product)">Edit</button>
              </td> -->
            </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </div>
        </form>
  </div>
</div>
<button type="button" name="" id="" class="btn btn-secondary offset-5" (click)="openModal()">Add New</button>

<ng-template #editProduct>
    <div class="modal-header">
      <h4>Edit {{dataEdit.name}}</h4>
    </div>
    <div class="modal-body">
      <div class="container">
        <form class="w-100" [formGroup]="updateProduct">
          <div class="form-group row">
            <label for="name" class="col-4 col-form-label">Product Name</label>
            <div class="col-6">
              <input type="text" class="form-control" formControlName="name" id="name" placeholder="" [value]="dataEdit.name">
            </div>
          </div>
          <div class="form-group row">
            <label for="poolBarPrice" class="col-4 col-form-label">Pool Bar Price</label>
            <div class="col-6">
              <input type="number" class="form-control" formControlName="poolBarPrice" id="poolBarPrice" placeholder="" [value]="dataEdit.poolBarPrice">
            </div>
          </div>
          <div class="form-group row">
            <label for="mainBarPrice" class="col-4 col-form-label">Main Bar Price</label>
            <div class="col-6">
              <input type="text" class="form-control" formControlName="mainBarPrice" id="mainBarPrice" placeholder="" [value]="dataEdit.mainBarPrice">
            </div>
          </div>
          <div class="form-group row">
            <label for="manufacturer" class="col-4 col-form-label">Manufacturer</label>
            <div class="col-6">
              <input type="text" class="form-control" formControlName="manufacturer" id="manufacturer" placeholder="" [value]="dataEdit.manufacturer">
            </div>
          </div>
          <div class="form-group row">
            <label for="quantity" class="col-4 col-form-label">Quantity</label>
            <div class="col-6">
              <input type="number" class="form-control" formControlName="quantity" id="quantity" placeholder="" [value]="dataEdit.quantity">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-small btn-success" (click)="updateData(dataEdit._id, dataEdit)">Submit</button>
      <button class="btn btn-small btn-success" (click)="clearData()">Cancel</button>
    </div>
</ng-template>
