<div class="row my-3">
  <!-- <div class="col-xl-3">
    <div class="card text-left">
      <img class="card-img-top" src="" alt="">
      <div class="card-body">
        <h4 class="card-title">Product Name almost finish/damage</h4>
        <p class="card-text">Descript, Category, Department and Price</p>
      </div>
    </div>
  </div> -->
  <div class="col-sm-12 card">
      <form class="p-3">
          <div class="form-group form-inline">
              Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
              <span class="ml-3" *ngIf="service.loading$ | async">Loading List of Products...</span>
          </div>
          <ng-container *ngIf="rooms">

            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" sortable="roomName" (sort)="onSort($event)">Room Name</th>
                <th scope="col" sortable="roomType" (sort)="onSort($event)">Room Type</th>
                <th scope="col" sortable="roomNumber" (sort)="onSort($event)">Room Number</th>
                <th scope="col" sortable="roomPrice" (sort)="onSort($event)">Room Price</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let room of rooms | async; let i = index;" (click)="clickMe(room)">
                <th scope="row">{{i.valueOf() + 1}}</th>
                <td>
                  <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + room.flag" class="mr-2" style="width: 20px"> -->
                  <ngb-highlight [result]="room.roomName" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td><ngb-highlight [result]="room.roomType | uppercase" [term]="service.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="room.roomNumber" [term]="service.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="room.roomPrice | currency: 'NGN' : 'symbol-narrow'" [term]="service.searchTerm"></ngb-highlight></td>
                <td>
                  <button type="button" class="btn btn-sm btn-outline-primary mx-2">Supplies</button>
                  <button type="button" class="btn btn-sm btn-outline-success mx-2" (click)="justOpen(room)">Edit</button>
                </td>
              </tr>
              </tbody>
            </table>
          </ng-container>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </div>
        </form>
  </div>
</div>
