@media print {
  .pr {
    font-style: oblique;
    width: 100vw;
    margin: 2px;
  }

  h1 {
    font-size: 22px;
    width: 100vw;
    text-align: center;
  }
  h4{
    font-size: 18px;
    width: 100vw;
    text-align: center;
  }
  p{
    font-size: 12px;
  }

  ul {
    font-size: 12px;
  }
}
