<div class="w-100 col-12 d-flex flex-column justify-content-start align-items-center">

    <div id="invoice-POS">

        <center id="top">
            <div class="logo"></div>
            <div class="info">
                <h2>Golden Sands Hotel and Suite</h2>
            </div>
            <!--End Info-->
        </center>
        <!--End InvoiceTop-->

        <div id="mid">
            <div class="info">
                <h2>Contact Info</h2>
                <p>
                    Address : Ilorin, Kwara Nigeria<br> Email : contact@goldensandshotelandsuite.com<br>
                </p>
            </div>
        </div>
        <!--End Invoice Mid-->
        <ng-container *ngIf="printData">
            <div class="pr" id="bot">
                <div id="table">
                    <table>
                        <tr class="tabletitle">
                            <td class="item">
                                <h2>Item</h2>
                            </td>
                            <td class="Hours">
                                <h2>Qty</h2>
                            </td>
                            <td class="Rate">
                                <h2>Sub Total</h2>
                            </td>
                        </tr>
                        <tbody>
                            <ng-container [ngSwitch]="printData?.place">
                                <ng-template ngSwitchCase="poolBar">
                                    <tr class="service" *ngFor="let item of printData?.productSold">
                                        <td class="tableitem">
                                            <p class="itemtext">{{item?.productDetail.name}}</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">{{item?.productQuantity}}</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">{{item?.productDetail.poolBarPrice * item?.productQuantity}}
                                            </p>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template ngSwitchCase="mainBar">
                                    <tr class="service" *ngFor="let item of printData?.productSold">
                                        <td class="tableitem">
                                            <p class="itemtext">{{item?.productDetail.name}}</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">{{item?.productQuantity}}</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">{{item?.productDetail.mainBarPrice * item?.productQuantity}}
                                            </p>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template ngSwitchCase="restaurant">
                                    <tr class="service" *ngFor="let item of printData?.productSold">
                                        <td class="tableitem">
                                            <p class="itemtext">{{item?.productDetail.mealName}}</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">{{item?.productQuantity}}</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">{{item?.productDetail.mealPrice * item?.productQuantity}}
                                            </p>
                                        </td>
                                    </tr>
                                </ng-template>
                            </ng-container>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total Amoun Paid</td>
                                <td></td>
                                <td>{{printData.amountPaid}}</td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <!--End Table-->

                <div id="legalcopy">
                    <p class="legal"><strong>Thank you for your business!</strong>
                    </p>
                    <p>Method of Payment: {{printData.paymentMethod}}</p>
                </div>

                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </ng-container>
        <div>


        </div>
        <!--End InvoiceBot-->
    </div>
    <!--End Invoice-->

</div>

<div class="w-100 col-12 d-flex flex-column justify-content-start align-items-center">
    <img src="/assets/logo-sm.png">
    <h1>Golden Sand Hotel and Suites</h1>
    <h4>Ilorin Kwara, Nigeria</h4>
    <!-- <p>Reciept for purchased made</p>
<p>Prepared By: {{printData.sellerId.fullName}}</p>

<h5>PURCHASE</h5> -->
</div>
<ng-container *ngIf="roompage">
    <div class="container border w-100 p-2 col-11 m-auto">
        <section class="row">
            <div class="col-6 row">
                <div class="col-5 text-right my-1">Full Name:</div>
                <div class="col-7 my-1">{{roompage?.customer.customerName}}</div>
                <div class="col-5 text-right my-1">Phone Number:</div>
                <div class="col-7 my-1">{{roompage?.customer.customerNumber}}</div>
                <div class="col-5 text-right my-1">Email:</div>
                <div class="col-7 my-1">{{roompage?.customer.customerEmail}}</div>
                <div class="col-5 text-right my-1">Profession:</div>
                <div class="col-7 my-1">{{roompage?.customer.customerProfession}}</div>
                <div class="col-5 text-right my-1">Address:</div>
                <div class="col-7 my-1">{{roompage?.customer.customerAddress}}</div>
                <div class="col-5 text-right my-1">City:</div>
                <div class="col-7 my-1">{{roompage?.customer.city}}</div>
                <div class="col-5 text-right my-1">Country:</div>
                <div class="col-7 my-1">{{roompage?.customer.country}}</div>
                <div class="col-5 text-right my-1">Nationality:</div>
                <div class="col-7 my-1">{{roompage?.customer.nationality}}</div>
            </div>
            <div class="col-6 row">
                <div class="col-5 text-right my-1">Representing:</div>
                <div class="col-7 my-1">{{roompage?.customer.representation}}</div>
                <div class="col-5 text-right my-1">Purpose Of Visit:</div>
                <div class="col-7 my-1">{{roompage.purposeOfVisit}}</div>
                <div class="col-5 text-right my-1">Company Name:</div>
                <div class="col-7 my-1">{{roompage?.customer.companyName}}</div>
                <div class="col-5 text-right my-1">Compnay Contact:</div>
                <div class="col-7 my-1">{{roompage?.customer.companyNumber}}</div>
                <div class="col-5 text-right my-1">Address:</div>
                <div class="col-7 my-1">{{roompage?.customer.companyAddress}}</div>
                <div class="col-5 text-right my-1">Next of Kin:</div>
                <div class="col-7 my-1">{{roompage?.customer.nextOfKin}}</div>
                <div class="col-5 text-right my-1">Next of Kin Number:</div>
                <div class="col-7 my-1">{{roompage?.customer.nextOfKinNumber}}</div>
                <div class="col-5 text-right my-1">Next of Kin Relation:</div>
                <div class="col-7 my-1">{{roompage?.customer.nextOfKinRelation}}</div>
            </div>
        </section>
    </div>
    <div class="row col-11 my-5 mx-auto">
        <div class="col-6 row">
            <div class="col-5 text-right my-1">Coming From:</div>
            <div class="col-7 my-1">{{roompage.comingFrom}}</div>
            <div class="col-5 text-right my-1">Next Destination:</div>
            <div class="col-7 my-1">{{roompage.nextDestination}}</div>
            <div class="col-5 text-right my-1">Arrival Date:</div>
            <div class="col-7 my-1">{{roompage.arrivalDate | date}}</div>
            <div class="col-5 text-right my-1">Departure Date:</div>
            <div class="col-7 my-1">{{roompage.departureDate | date}}</div>
            <div class="col-5 text-right my-1">Pasport Number:</div>
            <div class="col-7 my-1">{{roompage?.customer.passportNumber}}</div>
            <div class="col-5 text-right my-1">Issue At:</div>
            <div class="col-7 my-1">{{roompage?.customer.issueAt}}</div>
            <div class="col-5 text-right my-1">Issue Date:</div>
            <div class="col-7 my-1">{{roompage?.customer.issueDate}}</div>
        </div>
        <div class="col-12 row">
            <ng-container *ngFor="let item of roompage.image">
                <img [src]="item" width="200" class="img-fluid col-5 mx-auto my-4" alt="">
            </ng-container>
        </div>
    </div>
</ng-container>
