<div class="pr">
  <img src="/assets/logo-sm.png">
  <h1>Golden Sand Hotel and Suites</h1>
  <h4>Ilorin Kwara, Nigeria</h4>
  <p>Reciept for purchased made</p>
  <p>Prepared By: {{printData.sellerId.fullName}}</p>

  <h5>PURCHASE</h5>

  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>&#8358;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of printData.productSold">
        <td>{{item.productDetail.productName}}</td>
        <td>{{item.productQuantity}}</td>
        <td>{{item.productDetail.productPrice * item.productQuantity}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total Amoun Paid</td>
        <td></td>
        <td>{{printData.amountPaid}}</td>
      </tr>
    </tfoot>
  </table>

  <p>Method of Payment: {{printData.paymentMethod}}</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
