<article class="m-4 row bg-white p-4">
  <section class="mt-2 mb-5 shadow col-12 p-4 rounded-lg">
    <h4 class="col-12 text-center">List of Rooms</h4>
    <app-sortable></app-sortable>
  </section>
  <section class="row my-5 mx-auto col-12 p-4 rounded-lg shadow">
    <h4 class="col-12 text-center">Guest List <small>For the day</small></h4>
  </section>
  <section class="row my-5 p-4 shadow col-12 mx-auto rounded-lg">
    <h4 class="col-12 text-center">Create and Manage Rooms</h4>
    <div class="container">
      <form class="row m-auto align-items-center justify-content-around">
        <div class="form-group col-3">
          <label for="roomName">Room Name</label>
          <input type="text" name="roomName" id="roomName" class="form-control" placeholder="Room Name" aria-describedby="roomHelp">
          <small id="roomHelp" class="text-muted">Provide the Name of the room</small>
        </div>
        <div class="form-group col-3">
          <label for="roomType">Room Type</label>
          <input type="text" name="roomType" id="roomType" class="form-control" placeholder="Room Type" aria-describedby="typeHelp">
          <small id="typeHelp" class="text-muted">Please provide the room type</small>
        </div>
        <div class="form-group col-3">
          <label for="roomNumber">Room Number</label>
          <input type="text" name="roomNumber" id="roomNumber" class="form-control" placeholder="Room Number" aria-describedby="numberHelp">
          <small id="numberHelp" class="text-muted">A Room Number must be provided</small>
        </div>
        <div class="form-group col-5">
          <label for="roomDescription">Description</label>
          <textarea name="roomDescription" id="roomDescription" class="form-control" cols="10" rows="5"></textarea>
        </div>
        <div class="form-group col-3">
          <label for="roomPrice">Room Price</label>
          <input type="text" name="roomPrice" id="roomPrice" class="form-control" placeholder="Room Price" aria-describedby="priceHelp">
          <small id="priceHelp" class="text-muted">Please provide room price</small>
        </div>
        <div class="form-group col-3">
          <label for="roomCondition">Room Condition</label>
          <select class="form-control" name="roomCondition" id="roomCondition">
            <option></option>
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="form-group col-12 text-center my-5">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </section>
  <section class="shadow rounded-lg col-12 my-5 mx-auto p-4 row">
    Room Services
  </section>
</article>
