<article class="m-4 row p-4">
  <section class="my-5 mx-auto col-12 p-4 rounded-lg shadow">
    <h4 class="col-12 text-center">Guest List <small>For the day</small></h4>
    <app-rooms-table [purpose]="'product'"></app-rooms-table>
  </section>
  <section class="row my-5 p-4 shadow col-12 mx-auto rounded-lg">
    <h4 class="col-12 text-center">Create and Manage Rooms</h4>
    <ngb-alert *ngIf="message" [dismissible]="true" class="d-block col-12" (close)="close()" [type]="alertType">
      {{message}}
    </ngb-alert>
    <div class="col-12 my-3">
      <button class="btn btn-primary" (click)="openModal(content)">Add Room Types</button>
    </div>
    <ng-template #content>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="roomTypeForm">
            <div class="form-group col-12">
              <label for="roomType">Room Type</label>
              <input type="text" formControlName="roomType" id="roomType" class="form-control"
                [ngClass]="{'is-invalid': g.roomType.touched && g.roomType.invalid}" placeholder="Room Type"
                aria-describedby="typeHelp">
              <small id="typeHelp" class="text-muted">Please provide the room type</small>
            </div>
            <div class="form-group col-12">
              <label for="roomDescription">Description</label>
              <textarea formControlName="roomDescription" id="roomDescription" class="form-control" cols="10"
                rows="5"></textarea>
            </div>
            <div class="form-group col-12">
              <label for="roomPrice">Room Price</label>
              <input type="text" formControlName="roomPrice" id="roomPrice" class="form-control"
                [ngClass]="{'is-invalid': g.roomPrice.touched && g.roomPrice.invalid}" placeholder="Room Price"
                aria-describedby="priceHelp">
              <small id="priceHelp" class="text-muted">Please provide room price</small>
            </div>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary" (click)="createType()">Create Room</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
    <div class="container">
      <form [formGroup]="roomForm" class="row m-auto align-items-center justify-content-around">
        <div class="form-group col-3">
          <label for="roomTypeId">Room Type</label>
          <select formControlName="roomTypeId" class="form-control" id="roomTypeId" [ngClass]="{'is-invalid': f.roomTypeId.touched && f.roomTypeId.invalid}">
            <option></option>
            <option *ngFor="let item of typeList | async as list" [value]="item._id">{{item.roomType}}</option>
          </select>
        </div>
        <div class="form-group col-3">
          <label for="roomNumber">Room Number</label>
          <input type="text" formControlName="roomNumber" id="roomNumber" class="form-control"
            [ngClass]="{'is-invalid': f.roomNumber.touched && f.roomNumber.invalid}" placeholder="Room Number"
            aria-describedby="numberHelp">
          <small id="numberHelp" class="text-muted">A Room Number must be provided</small>
        </div>
        <div class="form-group col-3">
          <label for="roomCondition">Room Condition</label>
          <select class="form-control" formControlName="roomCondition" id="roomCondition">
            <option></option>
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="form-group col-12 text-center my-5">
          <button type="submit" class="btn btn-success" [disabled]="!roomForm.valid"
            (click)="createRoom()">Submit</button>
        </div>
      </form>
    </div>
  </section>
  <section class="mt-2 mb-5 shadow col-12 p-4 rounded-lg bg-white">
    <h4 class="col-12 text-center">List of Rooms</h4>
    <app-rooms-table [purpose]="'product'"></app-rooms-table>
  </section>
  <section class="shadow rounded-lg col-12 my-5 mx-auto p-4 row">
    <h4 class="col-12 text-center">Hotel Services</h4>
    <div class="col-7">List Room Service</div>
    <div class="col 4">Add Room Service</div>
  </section>
</article>
