.sidebar {
    min-height: 86vh !important;
    width: 200px;
}

section {
    min-height: 86vh !important;
}

li {
    padding: 21px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.topcon {
    width: 350px;
    height: 120px;
}