<article class="container shadow p-3 rounded-lg m-2 bg-white border border-warning">
  <h1 class="text-center text-capitalize">Main Bar</h1>
  <div class="row">
    <div class="form-group form-inline col-12 m-5">
      <ng-template #rt let-r="result" let-t="term">
        <button class="btn btn-success btn-sm" (click)="some = true">+</button>
        <ngb-highlight [result]="r.name" [term]="t" (click)="some = true"></ngb-highlight>
      </ng-template>
      Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="model" [ngbTypeahead]="searchText" [resultTemplate]="rt" [inputFormatter]="formatter" />
      <span class="ml-3" *ngIf="products.loading$ | async">Loading List of Product... </span>
    </div>
    <div *ngIf="some === true"
      class="card col-sm-6 col-md-5 my-3 mx-auto bg-light border border-warning" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{model?.name}} title</h5>
        <p class="card-text">Some text</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">Quantity: <input type="number" [(ngModel)]="setMe"
            #ctrl="ngModel" class=""></li>
        <li class="list-group-item bg-light">Price: {{model?.mainBarPrice | currency: 'NGN' : 'symbol-narrow'}}</li>
        <li class="list-group-item bg-light">Total Price:
          <span *ngIf="ctrl.value > 0"> {{ ctrl.value * model?.mainBarPrice | currency: 'NGN' : 'symbol-narrow' }} </span>
        </li>
      </ul>
      <div class="card-body text-center">
        <button class="btn btn-primary mx-2" [disabled]="!ctrl.value || ctrl.value < 1"
          (click)="setProduct(model, ctrl.value)" [innerText]="">Add to Cart</button>
        <button class="btn btn-danger mx-2" [disabled]="!ctrl.value || ctrl.value < 1"
          (click)="removeProduct(model, ctrl.value)">Remove</button>
      </div>
    </div>
  </div>
</article>
