<article class="container shadow p-3 rounded-lg m-2 bg-white border border-warning">
  <div class="row">
    <div *ngFor="let item of productsList | async; let i = index;" class="card col-4 mx-auto bg-light border border-warning" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.productName}} title</h5>
        <p class="card-text">Some text</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">Quantity: <input type="number" [(ngModel)]="productsList[i]" #ctrl="ngModel"
            class="form-control"></li>
        <li class="list-group-item bg-light">Price: {{item.productPrice | currency: 'NGN' : 'symbol-narrow'}}</li>
        <li class="list-group-item bg-light">Total Price:
          {{ ctrl.value * item.productPrice | currency: 'NGN' : 'symbol-narrow' }} </li>
      </ul>
      <div class="card-body">
        <button class="btn btn-primary" [disabled]="!ctrl.value || ctrl.value === 0" (click)="setProduct(item, ctrl.value)">Add to Cart</button>
        <button class="btn btn-danger" [disabled]="!ctrl.value || ctrl.value === 0" (click)="setProduct(item, ctrl.value)">Remove</button>
      </div>
    </div>
  </div>
</article>
